body
{
    background-size: cover;
}
#footer
{
    bottom: 0;
    box-shadow: 2px 2px black;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: grey;
    color: aliceblue;
}
canvas
{
    border: 3px solid black;
}